/* Statistik-grid */

.statistik {
  display: grid;
  grid-template-columns: 20% 70%;
  /* overflow: hidden; */
}

.div1 {
  margin: -2% 0% 0% 5%;
}

.div2 {
  margin: 0% 0% 1% 2%;
}

.seriewrap {
  margin: 2%
}

.opdatedata {
  position: absolute;
  top: 36%;
  padding: 1% 2% 1% 2%
}